<%- include('partials/_header'); %>
<body style="color: white;">

    <!-- CSS personalizado-->
    <link rel="stylesheet" type="text/css" href="/public/css/main.css">
    <link rel="stylesheet" type="text/css" href="/public/css/gato.css">
    <%- include('partials/_navbar'); %>

    <div class="container mt-5 pt-3">
        <div class="row">
            <!-- Alert-->
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <strong>Debe esperar</strong> a que se una otro jugador para comenzara a jugar (se le mostrará en el chat cuando eso pasé).
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p class="text-medium">Nombre de la sala: <input type="button" readonly class="btn btn-clear-medium" id="roomName" value=""></p>
                <p class="text-medium">Turno: <input type="button" readonly class="btn btn-clear-medium" id="turno" value=""></p>
            </div>
        </div>
        <div class="row">
            <div class="col-md">
                <div align="center">
                    <input type="button" class="casilla c1" value=" " id="c1" onclick="cambiaTurno('c1')">
                    <input type="button" class="casilla c2" value=" " id="c2" onclick="cambiaTurno('c2')">
                    <input type="button" class="casilla c3" value=" " id="c3" onclick="cambiaTurno('c3')"><br>
                    <input type="button" class="casilla c4" value=" " id="c4" onclick="cambiaTurno('c4')">
                    <input type="button" class="casilla c5" value=" " id="c5" onclick="cambiaTurno('c5')">
                    <input type="button" class="casilla c6" value=" " id="c6" onclick="cambiaTurno('c6')"><br>
                    <input type="button" class="casilla c7" value=" " id="c7" onclick="cambiaTurno('c7')">
                    <input type="button" class="casilla c8" value=" " id="c8" onclick="cambiaTurno('c8')">
                    <input type="button" class="casilla c9" value=" " id="c9" onclick="cambiaTurno('c9')"><br>
                </div>
            </div>
            <div class="col-md">
                <div class="card"><center><p class="black-medium">Chat</p></center></div>
                <div class="card">
                    <div id="chat" style="overflow: auto; max-height: 300px;"></div>
                    <div id="typing" style="color: #5B5B5B;"></div>
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                          <div class="input-group-text"><i class="fas fa-paper-plane" style="color: black;"></i></div>
                        </div>
                        <input type="text" class="form-control" id="message" placeholder="Message" onkeyup="onKeyUp(event)">
                      </div>               
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col">
                <input type="button" class="btn btn-danger" onclick="exit()" value="Salir del juego" id="exit">
            </div>
        </div>
    </div>

    <script src="/socket.io/socket.io.js"></script>
    <script src="/public/js/socket.js"></script>
    <script>
        window.location.hash="no-back-button";
        window.location.hash="Again-No-back-button";
        window.onhashchange=function(){window.location.hash="no-back-button";}
        window.location.reload = function(){alert('refresh')}
    </script>
</body>
<%- include('partials/_footer'); %>